
# Static map reference
Key1.Key1a = ${map["Key1"]["Key1a"]}
Key1.Key1b = ${map["Key1"]["Key1b"]}
Key2.Key2a = ${map["Key2"]["Key2a"]}
Key2.Key2b = ${map["Key2"]["Key2b"]}

# Complex map and nested for loops
%{ for key,submap in map ~}
%{ for subkey,subvalue in submap ~}
${key}.${subkey} = ${subvalue}
%{ endfor ~}
%{ endfor ~}